@model IEnumerable<Finalprojct.DAL.Github>

@{
    ViewBag.Title = "Github Repository";
}

<h2>Github</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gitaddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gitaddress)
        </td>
     
    </tr>
}

</table>
