@{
    ViewBag.Title = "About";
}

<br />
<br />
<br />
<br />

<p>I'm Lee hyunseok. Senior of Yonsei university Wonju campus.</p><br>
<p>My hobby is read a fantasy novel.<br />
    Imagination always help me when i feel boring<br />
    I want to work in USA after i get master's degree<br />
    I am android developer and digital forensic researcher <br />
    I'm big fan of Thinkpad. w701ds is masterpiece.<br />
    and i was Track leader of BOB 5th Digital forensic track.<br />
    I hope to get Master's degree in Cyber Security.<br />
    Nowadays i'm interested in Extract evidence in RAM'<br />

    </p>

