@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/Blink.css" type="text/css" />
<div class="jumbotron">
    <div class="area"><h1>Greeting!</h1></div>
    <p class="lead">Portfolio of Leehyunseok. Android developer & Digital forensic Researcher.</p>   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
        <p>
            Contact!
        </p>
        <p><a class="btn btn-default" href="http://localhost:51053/contacts/index">Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Awards!</h2>
        <p>Awards which i get!</p>
        <p><a class="btn btn-default" href="http://localhost:51053/awards/index">Award &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Github</h2>
        <p>Github repository!</p>
        <p><a class="btn btn-default" href="http://localhost:51053/githubs/index">Github repo &raquo;</a></p>
    </div>
</div>